.container{
	width: 80%;
	margin: 0 auto;
}
header{
	background: #98d6ce;
	height: 100px;
}
section{
	height: 500px;
	float: left;
	background: #f0f0f0;
	margin-top: 15px;
}
aside{
	height: 500px;
	float: right;
	background: #98aed6;
	margin-top: 15px;
}
header, section, aside{
	width: 100%;
}

@media (min-width: 768px) {
	section{
		width: 70%;
	}
	aside{
		width: 28%;
	}
}