.container{
	width: 960px;
	margin: 0 auto;
}
header{
	width: 960px;
	background: #98d6ce;
	height: 100px;
}
section{
	width: 700px;
	height: 500px;
	float: left;
	background: #f0f0f0;
	margin-top: 15px;
}
aside{
	width: 250px;
	height: 500px;
	float: right;
	background: #98aed6;
	margin-top: 15px;
}